.dobra1 {
    height: 100vh; /* define a altura da dobra1 como 100% da tela */
    background-color: #f5f5f5; /* define a cor de fundo da dobra1 */
    text-align: center; /* centraliza o texto dentro da dobra1 */
    padding: 20px; }

.dobra2 {
    height: 100vh; /* define a altura da dobra2 como 100% da tela */
    background-color: #fff; /* define a cor de fundo da dobra2 */
    text-align: center; /* centraliza o texto dentro da dobra2 */
    padding: 20px; /* adiciona um espaçamento de 20px em todos os lados */
}
